/* ===== HAMBURGER ===== */
.menu-btn{
  width:34px;
  height:24px;
  display:none;
  flex-direction:column;
  justify-content:space-between;
  cursor:pointer;
  z-index:3000;
}
.menu-btn span{
  height:3px;
  background:#333;
  border-radius:4px;
  transition:.35s;
}

/* ANIMATION */
.menu-btn.active span:nth-child(1){
  transform:rotate(45deg) translate(6px,6px);
}
.menu-btn.active span:nth-child(2){
  opacity:0;
}
.menu-btn.active span:nth-child(3){
  transform:rotate(-45deg) translate(6px,-6px);
}

/* ===== SIDEBAR ===== */
.sidebar{
  position:fixed;
  top:0;
  right:-280px;   /* ALWAYS RIGHT */
  width:260px;
  height:100vh;
  background:#fff;
  padding:90px 25px;
  display:flex;
  flex-direction:column;
  gap:18px;
  box-shadow:-6px 0 20px rgba(0,0,0,.15);
  transition:.4s ease;
  z-index:2500;
}
.sidebar.active{
  right:0;
}
.sidebar a{
  text-decoration:none;
  color:#333;
  font-size:18px;
  font-weight:500;
  position:relative;
}

/* ACTIVE UNDERLINE */
.sidebar a::after{
  content:'';
  position:absolute;
  left:0;
  bottom:-5px;
  width:0;
  height:2px;
  background:#3f51b5;
  transition:.3s;
}
.sidebar a.active::after{
  width:100%;
}

/* ===== MOBILE ONLY ===== */
@media(max-width:768px){
  .menu-btn{display:flex;}
}
